@import "tailwindcss";

:root {
  
  --font-poppins: 'Poppins', sans-serif;
  --font-grotesk: 'Space Grotesk', sans-serif;
   --background-offwhite: #F8F8F8   ;
}

@theme inline {
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-grotesk);
}


body {
  background-color: var(--background-offwhite);
  font-family: var(--font-poppins);
}